[submodule "leon-ClientSide"]
	path = leon-ClientSide
	url = git@github.com:Leon-OnlineLearning/leon-ClientSide.git
	branch = dev
[submodule "Leon-Serverside"]
	path = Leon-Serverside
	url = git@github.com:Leon-OnlineLearning/Leon-Serverside.git
	branch = dev
[submodule "janus-gateway-docker"]
	path = janus-gateway-docker
	url = git@github.com:abdo1819/janus-gateway-docker.git
	branch = dev
[submodule "doc/online_learning_doc"]
	path = doc/online_learning_doc
	url = git@github.com:abdo1819/online_learning_doc.git
	branch = main
[submodule "face_verification"]
	path = face_verification
	url = git@github.com:Leon-OnlineLearning/face_verification.git
	branch = main
[submodule "Text_Classifier"]
	path = Text_Classifier
	url = git@github.com:Leon-OnlineLearning/Text_Classifier.git
